/* style.css */

h1 {
    color: white;
    font-size: 60px;
    background-color: lightpink;
}

img {
    height: auto;
    width: 800px;
}

p {
    font-size: 18px;
}

h3 {
    font-size: 24px;
}

a {
    font-size: 18px;
    
}