/* style.css - scrambled eggs */

h1,
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 60px;
}

p,
li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

